@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --sign-up-in;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}


.sign-up-in-container{ 
  padding: 20px;
  .input-name { max-height: 200px; transition: all .5s ease-in-out; }
  
  &:not(.is-new-user) .input-name  { margin: 0; height: auto; max-height: 0; overflow: hidden; visibility: hidden; }
  bbva-button-default { width: 100%; }
  .create-user { margin-top: 25px; display: block; text-align: center; color: #212121; font-size: 14px; }
}

h1 { font-weight: 400; text-align: center; font-size: 18px; margin: 0; margin-top: 10%; }

bbva-input-field { margin-bottom: 20px; }